<!DOCTYPE html>
<html lang="en">
  <head>
    <link rel="stylesheet" href="static/style.css" />
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Nike Produckt</title>
  </head>
  <body>
    <div class="main-div">
      <h2>Nike Air Max shoes</h2>
      <div class="div">
        <img
          src="{{
          user_image
          }}"
          alt="The Shose photo"
          width="250px"
          height="250px"
        />
        <div class="div1">
          <div class="div1-sub">
            <p class="prise">$65.00</p>
            <p class="shipping">free shipping</p>
          </div>
          <p class="discription">Step into style: Exclusive shoe Deals</p>
          <a class="link" href="#" target="blank">more information </a>
          <div>
            <button class="button button1"></button>
            <button class="button button2"></button>
            <button class="button button3"></button>
            <button class="button button4"></button>
            <button class="button button5"></button>
            <button class="button button6"></button>
          </div>
        </div>
        <div class="div2">
          <p class="produckt">produckt details</p>
          <ul class="u-list">
            <li>made with high-quality materials</li>
            <li>available with customizable options</li>
            <li>feature a visible Air cushioning</li>
          </ul>
        </div>
      </div>
      <button class="last-button">add to cart</button>
      <p class="sale">sale</p>
    </div>
  </body>
</html>
